
@using WebPanel.Models
<h2>Invoices</h2>
<style>
    .cell-center{
          text-align: center!important  
    }
    cell-center{
          text-align: center!important  
    }
    #cell-center{
  text-align: center!important  
    }



    td[role=columnheader] {  
    text-align: center!important;
    font-weight:700;
    color:black;
    }

</style>

<script>
    function cellTemplate(cellElement, cellInfo) {  
        $('<a/>')
            .attr({ href: '@Url.RouteUrl("default", new { action = "GetFile", controller = "Invoices" })' + `?id=${cellInfo.data.Id}` })
            .append("<img src='https://cdn-icons-png.flaticon.com/128/337/337946.png' width='15%' height='15%'>")
        .appendTo(cellElement);  
}  
</script>

<script src="https://unpkg.com/devextreme-intl@18.2/dist/devextreme-intl.min.js"></script>  
<script src="https://cdn3.devexpress.com/jslib/18.2.7/js/localization/dx.messages.cs.js"></script>  

<script>  
    DevExpress.localization.locale("pl-PL");  
    DevExpress.config({ defaultCurrency: "PLN" });  
</script>  


@(Html.DevExtreme().DataGrid<Invoices>()
    .ID("ekes")
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("Invoices").LoadMethod("Get").Key("Id").LoadAction("Get"))
    .Columns(columns => {
        columns.AddFor(m => m.InvoiceNo).Width("55%");
        columns.AddFor(m => m.Date).Width("17%").CssClass("cell-center");
        columns.AddFor(m => m.Price).Width("17%").Format(Format.Currency).Format(f => f.Type(Format.Currency).Precision(2));
         columns.AddFor(m => m.Document_Path).CssClass("cell-center").Width("5%").CellTemplate(new JS("cellTemplate"));  
   
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(false))
    .GroupPanel(p => p.Visible(false))
    .ShowColumnLines(true)
    .ShowRowLines(true)
       .Height("90%")
    )