@using WebPanel.Models

<h2>Products</h2>
<style>
    .kurwa{
          text-align: center!important  
    }
    kurwa{
          text-align: center!important  
    }
    #kurwa{
  text-align: center!important  
    }



    td[role=columnheader] {  
    text-align: center!important;
    font-weight:700;
    color:black;
    }

</style>
@(Html.DevExtreme().DataGrid<Products>()
    .Editing(editing => {
        editing.Mode(GridEditMode.Row);
        editing.AllowAdding(true);
        editing.AllowDeleting(true);
        editing.AllowUpdating(true);
    })
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("Product").LoadMethod("Get").Key("Id").LoadAction("Get").UpdateAction("Put").DeleteAction("Delete").InsertAction("Post"))
    .Columns(columns => {
        columns.AddFor(m => m.Name).Width("23%");
        columns.AddFor(m => m.Description).Width("29%");
        columns.AddFor(m => m.UnitOfUsage).Width("15%").Lookup(lk => lk.DataSource(d => d.Mvc().Controller("UnitsOfUsage").LoadAction("Get2").Key("Id")));
         columns.AddFor(m => m.Price).Width("7%");
        columns.AddFor(m => m.Create_Date).Width("13%").CssClass("kurwa").AllowEditing(false);
        columns.AddFor(m => m.Modify_Date).Width("13%").CssClass("kurwa").AllowEditing(false);
   
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(false))
    .GroupPanel(p => p.Visible(false))
    .ShowColumnLines(true)
    .ShowRowLines(true)
       .Height("90%")
    )
